.cards {
  border-top: 1px rgb(33, 33, 33, 0.4) solid;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;

}

.cards__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 0 20px;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .cards__list {
    list-style-type: none;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
  }
}