.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal__container {
  box-sizing: border-box;
  flex-direction: column;
  gap: 27px;
  position: relative;
  background: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  width: 730px;
  border-radius: 8px;
  margin: 0 auto;
}

.modal__form {
  display:flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 630px;
  gap: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  width: 630px;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: poppins, Arial, Helvetica, sans-serif;
  letter-spacing: 0%;
  color: #212121;
  opacity: 70%;
}

.modal__error {
  color: #FF0000;
  opacity: 70%;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
  visibility: visible;
}

.modal__error_input {
  border: 1px solid #FF0000;
  opacity: 0.6;
}

.modal__error--hidden {
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0;
}

.modal__container--preview {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
}

.modal__image {
  display: flex;
  max-height: 80vh;
  max-width: 80vw;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.modal__title {
  justify-content: space-between;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  line-height: 32px;
  font-size: 32px;
  margin-top: 0;
}

.modal__close-btn {
  display: flex;
  position: absolute;
  border-style: none;
  border-radius: 0;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  opacity: 40%;
  background-image: url(../images/modalCloseButton.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal__close-btn:hover {
  opacity: 1;
  background-color: transparent;
  cursor: pointer;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal__close-btn--preview {
  display: flex;
  position: absolute;
  left: 100%;
  border-style: none;
  color: #fff;
  background-image: url("../images/previewModalClose.svg");
  opacity: 40%;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal__close-btn--preview:hover {
  opacity: 40%;
  background-color: transparent;
  cursor: pointer;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  gap: 10px;
}

.modal__submit-btn {
  background-color: #000;
  color: rgba(252, 245, 229, 1);
  gap: 8px;
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.modal__submit-btn--disabled {
  color: gray;
  opacity: 50%;
}

.modal__preview-caption {
  display: flex;
  border: none;
  box-sizing: border-box;
  max-width: fit-content;
  align-items: center;
  height: 32px;
  margin: 0;
  background-color:rgba(33, 33, 33, 1);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  color: #fff;
}


@media screen and (max-width: 720px) {
  .modal__close-btn--preview {
    right: 40px;
    left: 90%;
  }

  .modal__container {
    gap: 24px;
    padding: 12px;
    width: 300px;
    height: auto;
  }

  .modal__label {
    width: 276px;
  }

  .modal__form {
    gap: 24px;
    width: 276px;
  }

  .modal__error {
    width: 276px;
  }

  .modal__image {
    width: 288px;
    max-width: 100%;
    border-radius: 4px;
    margin-top: 41px;
  }

  .modal__container--preview {
    width: 288px;
    max-width: 100%;
    gap: 0px;
    border-radius: 4px;
    margin-top: 41px;
  }

  .modal__preview-caption {
    height: 27px;
  }

  .modal__close-btn {
    top: 0;
    right: 0;
  }

  .modal__submit-btn {
    width: 276px;
    height: auto;
    padding: 18px 32px;
    gap: 8px;
    border-radius: 8px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    width: 276px;
    height: auto;
  }

  .modal__label {
    font-family: poppins, Arial, Helvetica, sans-serif;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
  }


}